<div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
  <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Aanmelden</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <input class="block border border-grey-light w-full p-3 rounded mb-2"
          type="text" name="email" placeholder="Email" formControlName="email" />

          <span class="text-red-500 mb-2" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched ">Gelieve dit veld in te vullen</span>
          
          
          <input class="block border border-grey-light w-full p-3 rounded mb-2"
          type="password" name="password" placeholder="Password" formControlName="password" />
         
          <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">

          <span class="text-red-500 mb-2" *ngIf="loginForm.get('password')?.hasError('required')">Gelieve dit veld in te vullen</span>
          </span> 
          
          <span class="text-red-500 mb-2" *ngIf="invalidLogin">Het email address of passwoord is niet correct</span>

          <button [disabled]="!loginForm.valid" type="submit" class="w-full text-center py-3 rounded bg-blue-500 text-white hover:bg-blue-700 focus:outline-none my-1">Aanmelden</button>

      </form>
  </div>

  <div class="text-grey-dark mt-6">
      <p>Heb je nog geen account? <a class="no-underline border-b border-blue text-blue" routerLink="/signup"> Registereren </a>
      </p>
  </div>
</div>  