<div class="grid grid-cols-2 m-7">
    <div class="bg-slate-200 border-black border-4 rounded-lg 0 flex justify-center h-60 w-11/12 ">
        <h3 class="">Totaal km's gereden: </h3>   
        <p>{{totKm |addKm}}</p>                    
    </div>
    <div class="bg-slate-200 border-black border-4 rounded-lg h-60 1 flex justify-center w-11/12 m-auto">
       <p>Totaal liters getankt: </p>
       <p>{{totLiters | addLiters}}</p>
    </div>  
</div>
<div class="bg-slate-200 border-black border-4 rounded-lg h-60 w-9/12 flex center m-auto">
    <p>Totaal bedrag €</p>
    <p>{{totPrice | addEuro}}</p>
</div>  
