/dist
/tmp
/node_modules

.env 
.angular

# Visual Studio Code
.vscode/*
./VSCodeCounter

Schets/
Project.md
start.sh
eindopdracht_2021_2022.pdf
AertsXander.zip
EindverslagGUI_XanderAerts.docx
EindverslagGUI_XanderAerts_2022.docx
EindverslagGUI_XanderAerts_2022.pdf

src/environments/environment.ts
src/environments/environment.prod.ts


.firebaserc


