<div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Registreren</h1>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <input class="block border border-grey-light w-full p-3 rounded mb-2"
            type="text" name="email" placeholder="Email" formControlName="email" />

            <span class="text-red-500 mb-2" *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched ">Gelieve dit veld in te vullen</span>
            
            
            <input class="block border border-grey-light w-full p-3 rounded mb-2"
            type="password" name="password" placeholder="Password" formControlName="password" />
           
            <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">

            <span class="text-red-500 mb-2" *ngIf="signupForm.get('password')?.hasError('required')">Gelieve dit veld in te vullen</span>
            <span class="text-red-500 mb-2" *ngIf="signupForm.get('password')?.touched  && !signupForm.get('password')?.hasError('minLenght') && !signupForm.get('password')?.hasError('required') ">Passwoord moet minstens 6 characters lang zijn</span>
            
            </span>

            <input class="block border border-grey-light w-full p-3 rounded mb-2"
            type="password" name="confirm_password" placeholder="Bevestig Password" formControlName="passwordConfirm" />
            
            <span *ngIf="!signupForm.get('passwordConfirm')?.valid && signupForm.get('passwordConfirm')?.touched ">

            <span class="text-red-500 mb-2" *ngIf="signupForm.get('passwordConfirm')?.hasError('required')">Gelieve dit veld in te vullen</span>
            <span class="text-red-500 mb-2" *ngIf="!signupForm.get('passwordConfirm')?.hasError('passwordMisMatch') && !signupForm.get('passwordConfirm')?.hasError('required')">De passworden komen niet overeen.</span>
            
        </span>
    
            <button [disabled]="!signupForm.valid" type="submit" class="w-full text-center py-3 rounded bg-blue-500 text-white hover:bg-blue-700 focus:outline-none my-1">Account aanmaken</button>

        </form>
    </div>

    <div class="text-grey-dark mt-6">
        <p>Heb je al een account? <a class="no-underline border-b border-blue text-blue" routerLink="/login"> Log in </a>
        </p>
    </div>
</div>  